{% extends 'layouts/base.html' %}
{% block navbar %}
<nav>
    <div class="nav-wrapper cyan darken-3">
      <a href="#" class="brand-logo right">Logo</a>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Tools</a></li>
        <li><a href="collapsible.html">Articles</a></li>
        <li><a href="collapsible.html">About</a></li>
        <li><a href="collapsible.html">Contact us</a></li>
      </ul>
    </div>
  </nav>
     <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Tools</a></li>
        <li><a href="collapsible.html">Articles</a></li>
        <li><a href="collapsible.html">About</a></li>
        <li><a href="collapsible.html">Contact us</a></li>
  </ul>
  </div>
{% endblock %}