{% extends 'layouts/menus.html' %}
{% block base_content %}
<div class="container white myContainer" >
    <h3>Article Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad assumenda at, atque consequuntur debitis
        dignissimos dolorum eaque enim fuga impedit ipsam, ipsum laboriosam natus optio quis quos ratione repellat
        repellendus sapiente ut velit voluptas! Adipisci commodi dignissimos eaque harum, itaque minima officia
        praesentium? At praesentium provident quas tenetur voluptatum!</p>
    <p>Deserunt dolorem modi perferendis quod ratione unde voluptatum? Cum cupiditate debitis dolorem harum illo in
        itaque iure iusto, minima molestiae necessitatibus numquam officia omnis quae rem saepe similique sit, tenetur
        veritatis voluptas. Atque ex ipsam quis! Asperiores consequuntur doloribus nostrum odio praesentium quam, quis
        ut! Blanditiis dolor iure quo sequi!</p>
    <p>Asperiores at beatae consequuntur deleniti dolore dolorem dolores, eveniet exercitationem fugiat hic inventore
        ipsum iste itaque nesciunt officia perferendis perspiciatis, porro quod recusandae rerum sapiente sed, similique
        totam ullam unde vel voluptas. Consectetur minima, rem! Ab aut exercitationem iure molestiae obcaecati quam
        quisquam quod, reprehenderit sed, sequi temporibus ullam, vitae.</p>
    <hr>
    <h4>Some usefull papers</h4>
    <ul style="list-style-type: circle!important;">
    <li ><p><a href="#">Article link</a></p></li>
    <li ><p><a href="#">Article link</a></p></li>
    <li ><p><a href="#">Article link</a></p></li>
    <li ><p><a href="#">Article link</a></p></li>
    <li ><p><a href="#">Article link</a></p></li>
    </ul>
</div>
{% endblock %}
