{% extends 'layouts/menus.html' %}
{% block base_content %}
    <div class="container white myContainer">
        <div>
            <h3>Contact Us</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eos excepturi incidunt mollitia
                non, quae qui sapiente sint vitae. </p>

            <h4>Message : </h4>
            <hr>
            <form action="#">
                <span>Your name : </span><input type="text">
                <span>Title : </span><input type="text">
                <span>Body :  </span><input type="text">
                <input type="submit" class="btn" name="" id="">
            </form>
        </div>
    </div>
{% endblock %}